<%= form_with(model: abstract_reviewer_assignment, local: true) do |form| %>
  <% if abstract_reviewer_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(abstract_reviewer_assignment.errors.count, "error") %> prohibited this abstract_reviewer_assignment from being saved:</h2>

      <ul>
      <% abstract_reviewer_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.hidden_field :abstract_id, value: abstract_id %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
