<%= form_with(model: abstract_report, local: true) do |form| %>
  <% if abstract_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(abstract_report.errors.count, "error") %> prohibited this abstract_report from being saved:</h2>

      <ul>
      <% abstract_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @abstract_proposal != nil then %>
    <%= form.hidden_field :abstractId, value: @abstract_proposal.id %>
    <%= form.hidden_field :reviewerId, value: current_user.id %>
  <% end %>

  <div class="form-group">
    <strong><%= form.label :recommendation %></strong>
    <%= form.select(:recommendation, recommendation_options, {}, {:class => "form-control"}) %>
  </div>
  
  <div class="form-group">
    <strong><%= form.label :innovation %></strong>
    <%= form.select(:innovation, innovation_options, {}, {:class => "form-control"}) %>
  </div>

  <div class="field">
    <strong><%= form.label :breadth %></strong>
    <%= form.select(:breadth, breadth_options, {}, {:class => "form-control"}) %>
  </div>

  <div class="field">
    <strong><%= form.label :presentationQuality %></strong>
    <%= form.select(:presentationQuality, presentation_quality_options, {}, {:class => "form-control"}) %>
  </div>

  <div class="field">
    <strong><%= form.label :publicContent %></strong>
    <%= form.select(:publicContent, public_content_options, {}, {:class => "form-control"}) %>
  </div>

  <div class="field">
    <strong><%= form.label :notes %></strong>
    <%= form.text_area(:notes, id: :abstract_report_notes, class: "form-control") %>
  </div>

  </br>

  <div class="actions">
    <%= form.submit "Submit Report", class: "btn btn-success" %>
  </div>
<% end %>
