<%= form_with(model: abstract_report, local: true) do |form| %>
  <% if abstract_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(abstract_report.errors.count, "error") %> prohibited this abstract_report from being saved:</h2>

      <ul>
      <% abstract_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <% if @abstract_proposal != nil then %>
      <%= form.hidden_field :abstractId, value: @abstract_proposal.id %>
      <%= form.hidden_field :reviewerId, value: current_user.id %>
  <% end %>

  </br> 

  <div class="form-inline">
    <strong><%= form.label :conflictOfInterest %></strong> &nbsp;&nbsp;&nbsp;
    <!-- <strong>Conflict of Interest/Not Enough Expertise to Review  </strong> &nbsp;&nbsp;&nbsp; -->
    <%= form.check_box :conflictOfInterest %>
  </div>

  </br>

  <div class="form-inline">
    <strong><%= form.label :innovation %></strong> &nbsp;&nbsp;&nbsp;
    <%= form.select(:innovation, innovation_options, {}, {:class => "form-control"}) %>
  </div>

  </p>

  <div class="form-inline">
    <strong><%= form.label :breadth %></strong>&nbsp;&nbsp;&nbsp;
    <%= form.select(:breadth, breadth_options, {}, {:class => "form-control"}) %>
  </div>

  </p>

  <div class="form-inline">
    <strong>Presentation Quality</strong>&nbsp;&nbsp;&nbsp;
    <%= form.select(:presentationQuality, presentation_quality_options, {}, {:class => "form-control"}) %>
  </div>

  </br>
  </p>

  </p>

  <div class="form-inline">
    <strong><%= form.label :notes %></strong>&nbsp;&nbsp;&nbsp;
    <%= form.text_area(:notes, class: "form-control") %>
  </div>

  </p>

  <div class="form-inline">
    <strong>Content could be presented publically/externally</strong>&nbsp;&nbsp;&nbsp;
    <%= form.check_box :publicContent %>
  </div>

</br>
</p>
</br>
</p>

</br>
  <div class="form-inline">
    <strong>Overall Recommendation</strong>&nbsp;&nbsp;&nbsp;
    <%= form.select(:recommendation, recommendation_options, {}, {:class => "form-control"}) %>
  </div>


  </br>

  <div class="actions">
    <%= form.submit "Submit Report", class: "btn btn-success" %>
  </div>
<% end %>
