<%
  conferenceOptions = []
  for conf in @conferences do
    conferenceOptions.push([conf.name, conf.id])
  end
%>

<%= form_with(model: abstract_proposal, local: true) do |form| %>
  <% if abstract_proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(abstract_proposal.errors.count, "error") %> prohibited this abstract_proposal from being saved:</h2>

      <ul>
      <% abstract_proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :abstract_proposal_title %>
  </div>

  <div class="field">
    <%= form.label :conference_id %>
    <%= form.select :conference_id, conferenceOptions %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :abstract_proposal_url %>
  </div>

  <div class="field">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name, id: :abstract_proposal_contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email, id: :abstract_proposal_contact_email %>
  </div>

  <div class="field">
    <%= form.label :organization %>
    <%= form.text_field :organization, id: :abstract_proposal_organization %>
  </div>

  <div class="field">
    <%= form.label :proposed_format %>
    <%= form.text_field :proposed_format, id: :abstract_proposal_proposed_format %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
