<p id="notice"><%= notice %></p>

<h1>Abstract Proposals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @abstract_proposals.each do |abstract_proposal| %>
      <tr>
        <td><%= abstract_proposal.title %></td>
        <td><%= abstract_proposal.url %></td>
        <td><%= link_to 'Show', abstract_proposal %></td>
        <td><%= link_to 'Edit', edit_abstract_proposal_path(abstract_proposal) %></td>
        <td><%= link_to 'Destroy', abstract_proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Abstract Proposal', new_abstract_proposal_path %>
