</br>

<div class="center">
  <% if is_admin?(current_user) then %>
    <h1>All Abstract Proposals</h1>
  <% else %>
    <h1>Assigned Abstract Proposals</h1>
  <% end %>
</div>

<table class="table table-hover table-striped" style="width:100%;">

  <thead>
    <tr>

      <th scope="col">Title</th>

      <% if is_admin?(current_user) then %>
        <th scop="col"> reviews </th>
        <th scop="col"> max reviews </th>
      <% end %>

      <th scop="col"> Innovation score </th>
      <th scop="col"> Breadth score </th>
      <th scop="col"> Quality score </th>
      <th scop="col"> Recommendation score </th>
      
      <% if is_admin?(current_user) then %>
        <th scope="col" colspan="3"></th>
      <% end %>

    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @abstract_proposals.each do |abstract_proposal| %>
        <tr class="row-proposal" onclick="window.location='/abstract_proposals/<%= abstract_proposal.id%>'">
          <th scope="row"><%= abstract_proposal.title %></th>

          
          <% if is_admin?(current_user) then %>
            <th scope="row"><%= @reviews_percent[i] %>%</th>
            <th scope="row"><%= @assigned_reviewers[i] %></th>
          <% end %>  

          <th scope="row"><%= @innovation[i] %></th>
          <th scope="row"><%= @breadth[i] %></th>
          <th scope="row"><%= @quality[i] %></th>
          <th scope="row"><%= @recommendation[i] %></th>

          <% if is_admin?(current_user) then %>
            <td><%= link_to 'Edit', edit_abstract_proposal_path(abstract_proposal) %></td>
            <td><%= link_to 'Destroy', abstract_proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
          <% end %>

          </tr>
        <% i += 1 %>
    <% end %>
  </tbody>
</table>

<br>
<% if is_admin?(current_user) then %>
  <%= link_to 'New Abstract Proposal', new_abstract_proposal_path %>
<% end %>

<script>
  const clickableRows = document.querySelectorAll('[data-behavior=clickable-row]');
  
  clickableRows.addEventListener('click', event => {
    window.location = event.currentTarget.dataset.url;
  });
</script>