<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @abstract_proposal.title %>
</p>

<p>
  <strong>Url:</strong>
  <a href="http://<%=@abstract_proposal.url%>"><%= @abstract_proposal.url %></a>
</p>

<p>
  <strong>Conference:</strong>
  <%= @conference_name %>
</p>

<% if current_user.admin %>
  <%= link_to 'Edit', edit_abstract_proposal_path(@abstract_proposal) %> |
<% end %>

<form action="<%= abstract_proposals_path %>">
  <button type="submit" class="btn btn-primary">Back</button>  
</form>
