<%
  conferenceOptions = []
  for conf in @conferences do
    conferenceOptions.push([conf.name, conf.id])
  end
%>

<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :submission_title %>
  </div>

  <div class="field">
    <%= form.label :conference_id %>
    <%= form.select :conference_id, conferenceOptions %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :submission_url %>
  </div>

  <div class="field">
    <%= form.label :contact_name %>
    <%= form.text_field :contact_name, id: :submission_contact_name %>
  </div>

  <div class="field">
    <%= form.label :contact_email %>
    <%= form.text_field :contact_email, id: :submission_contact_email %>
  </div>

  <div class="field">
    <%= form.label :organization %>
    <%= form.text_field :organization, id: :submission_organization %>
  </div>

  <div class="field">
    <%= form.label :proposed_format %>
    <%= form.text_field :proposed_format, id: :submission_proposed_format %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
