</br>

<div class="center">
    <h1>Admin Report</h1>
</div>

<h5> Reports sorted by review completion </h5>
<table class="table">
    <thead>
        <tr>
            <th>Reviews Completed</th>
            <th>Submissions</th>
        </tr>
    </thead>
    <tbody>
        <% i = @submission_counts.length-1 %>
        <% until i < 0 do %>
            <tr>
                <td><%= i %></td>
                <td><%= @submission_counts[i].length %></td>
            </tr>
            <% i -= 1 %>
        <% end %>
    </tbody>
</table>

</br>

<h5> Users who still need to complete reports</h5>
<hr>
<% @lazy_users.each do |key, value| %>
    <div>
        [<%= key %>, <%= value[0] %>, <%= (value[0].to_f/value[1].to_f) * 100 %>%]
    </div>
<% end %>


