</br>

<div class="center">
    <h1>Admin Report</h1>
</div>

</br>
<h5> Reports sorted by review completion </h5>
</br>

<div class="boxed">
    <table class="table">
        <thead>
            <tr>
                <th>Reviews Completed</th>
                <th>Submissions</th>
            </tr>
        </thead>
        <tbody>
            <% i = @submission_counts.length-1 %>
            <% until i < 0 do %>
                <tr>
                    <td><%= i %></td>
                    <td><%= @submission_counts[i].length %></td>
                </tr>
                <% i -= 1 %>
            <% end %>
        </tbody>
    </table>
</div>

</br>

</br>
<h5> User Review Completion </h5>
</br>

<div class="boxed">
        <table class="table">
            <thead>
                <tr>
                    <th>Progress</th>
                    <th>User Count</th>
                </tr>
            </thead>
            <tbody>
                <% i = @review_percents.length-1 %>
                <% until i < 0 do %>
                    <tr>
                        <td><%= progress_labels[i] %></td>
                        <td><%= @review_percents[i].length %></td>
                    </tr>
                    <% i -= 1 %>
                <% end %>
            </tbody>
        </table>
</div>

</br>

<h5> Users who still need to complete reports</h5>
<hr>
<% @lazy_users.each do |key, value| %>
    <div>
        [<%= key %>, <%= value["completed"] %>, <%= link_to to_percent(value["completed"], value["assigned"]).to_s + "%", {:controller => "submissions", :action => "user_report", :user_id => value["user_id"], :user_email => key } %>]
    </div>
<% end %>

</br>
</br>
</br>