</br>

<div class="center">
  <h3><strong>Submission</strong><h3>
</div>

</br>

<div class="boxed"> 
  <p>
    <strong>Title:</strong>
    <%= @submission.title %>
  </p>

  <p>
    <strong>Conference:</strong>
    <%= @conference_name %>
  </p>

  <p>
    <strong>Url:</strong>
    <a href="<%=@submission.url%>"><%= @submission.url %></a>
  </p>

  <% if is_admin?(current_user) %>
    <p>
      <strong>Contact Name:</strong>
      <%= @submission.contact_name %>
    </p>

    <p>
      <strong>Contact Email:</strong>
      <%= @submission.contact_email %>
    </p>

    <p>
      <strong>Organization:</strong>
      <%= @submission.organization %>
    </p>
  <% end %>

  <p>
    <strong>Proposed Format:</strong>
    <%= @submission.proposed_format %>
  </p>

  <% if is_admin?(current_user) %>
    <form action="<%= edit_submission_path(@submission) %>">
      <button type="submit" class="btn btn-success">Edit</button>  
    </form>
  <% end %>

</div>

</br>

<% if is_admin?(current_user) %> 
  <div class="center">
    <h3><strong>Reviewers</strong><h3>
  </div>
  
  <div class="boxed">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for reviewer in @reviewers do %>
          <tr>
            <td><%= User.find(reviewer.user_id).email %></td>
            <td class="align-right"><%= link_to 'Remove', reviewer, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render '/reviewer_assignments/form', reviewer_assignment: ReviewerAssignment.new, submission_id: @submission.id %>

  </div>
<% end %>

</br>

<% if @user_submitted_review.length >= 1 then %>
  
  <div class="center">
    <h3><strong>Your Review</strong><h3>
  </div>

  </br>

  <div class="boxed"> 

    </br>

    <% @submission_review = @user_submitted_review[0] %>
    <%= render '/submission_reviews/form', submission_review: @submission_review %>
    <!-- <%= render '/submission_reviews/show', submission_review: @submission_review, submission: @submission %> -->
  </div>
<% else %>
  <div class="center">
    <h3><strong>Review</strong><h3>
  </div>
  
  </br>

  <div class="boxed"> 
    </br>

    <%= render '/submission_reviews/form', submission_review: @submission_review %>
  </div>
<% end %>

</br>
