<%= form_with(model: submission_review, local: true) do |form| %>
  <% if submission_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission_review.errors.count, "error") %> prohibited this submission_review from being saved:</h2>

      <ul>
      <% submission_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <% if @submission != nil then %>
      <%= form.hidden_field :submission_id, value: @submission.id %>
      <%= form.hidden_field :reviewer_id, value: current_user.id %>
      <%= form.hidden_field :final, value: is_final %>
  <% end %>

  <table class="table">
      
      <tbody>
          <tr>
            <td> Conflict of Interest </td>
            <td> <%= form.check_box :conflict_of_interest %> </td>
          </tr>
          <tr>
            <td> Innovation </td>
            <td> <%= form.select(:innovation, innovation_options, {}, {:class => "form-control"}) %> </td>
          </tr>
          <tr>
            <td> Breadth </td>
            <td> <%= form.select(:breadth, breadth_options, {}, {:class => "form-control"}) %> </td>
          </tr>
          <tr>
            <td> Presentation Quality </td>
            <td> <%= form.select(:presentation_quality, presentation_quality_options, {}, {:class => "form-control"}) %> </td>
          </tr>
          <tr>
            <td> Content could be presented publically/externally </td>
            <td> <%= form.check_box :public_content %> </td>
          </tr>
          <tr>
            <td> Notes </td>
            <td> <%= form.text_area(:notes, class: "form-control") %> </td>
          </tr>
          <tr>
            <td> Overall Recommendation </td>
            <td> <%= form.select(:recommendation, recommendation_options_choice, {}, {:class => "form-control"}) %> </td>
          </tr>
      </tbody>
  </table>

  </br>

  <div class="center">
    <div class="actions">
      <% if is_final %>
        <%= form.submit "Submit Final Decision", class: "btn btn-success" %>
      <% else %>
        <%= form.submit "Submit Review", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
<% end %>
