<%= form_with(model: submission_review, local: true) do |form| %>
  <% if submission_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission_review.errors.count, "error") %> prohibited this submission_review from being saved:</h2>

      <ul>
      <% submission_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <% if @submission != nil then %>
      <%= form.hidden_field :submission_id, value: @submission.id %>
      <%= form.hidden_field :reviewer_id, value: current_user.id %>
  <% end %>

  </br> 

  <div class="form-inline">
    <strong><%= form.label :conflict_of_interest %></strong> &nbsp;&nbsp;&nbsp;
    <!-- <strong>Conflict of Interest/Not Enough Expertise to Review  </strong> &nbsp;&nbsp;&nbsp; -->
    <%= form.check_box :conflict_of_interest %>
  </div>

  </br>

  <div class="form-inline">
    <strong><%= form.label :innovation %></strong> &nbsp;&nbsp;&nbsp;
    <%= form.select(:innovation, innovation_options, {}, {:class => "form-control"}) %>
  </div>

  </p>

  <div class="form-inline">
    <strong><%= form.label :breadth %></strong>&nbsp;&nbsp;&nbsp;
    <%= form.select(:breadth, breadth_options, {}, {:class => "form-control"}) %>
  </div>

  </p>

  <div class="form-inline">
    <strong>Presentation Quality</strong>&nbsp;&nbsp;&nbsp;
    <%= form.select(:presentation_quality, presentation_quality_options, {}, {:class => "form-control"}) %>
  </div>

  </br>
  </p>

  </p>

  <div class="form-inline">
    <strong><%= form.label :notes %></strong>&nbsp;&nbsp;&nbsp;
    <%= form.text_area(:notes, class: "form-control") %>
  </div>

  </p>

  <div class="form-inline">
    <strong>Content could be presented publically/externally</strong>&nbsp;&nbsp;&nbsp;
    <%= form.check_box :public_content %>
  </div>

</br>
</p>
</br>
</p>

</br>
  <div class="form-inline">
    <strong>Overall Recommendation</strong>&nbsp;&nbsp;&nbsp;
    <%= form.select(:recommendation, recommendation_options, {}, {:class => "form-control"}) %>
  </div>


  </br>

  <div class="actions">
    <%= form.submit "Submit Review", class: "btn btn-success" %>
  </div>
<% end %>
