<table class="table table-striped">

  <thead>
    <tr>
      <th>User</th>
      <th>Recommendation</th>
      <th>Innovation</th>
      <th>Breadth</th>
      <th>Presentationquality</th>
      <th>Publiccontent</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submission_reviews.each do |submission_review| %>
      <tr>
        <td><%= submission_review.reviewer_email %></td>
        <td><%= submission_review.recommendation %></td>
        <td><%= submission_review.innovation %></td>
        <td><%= submission_review.breadth %></td>
        <td><%= submission_review.presentation_quality %></td>
        <td><%= submission_review.public_content %></td>
        <td><%= submission_review.notes %></td>
        <td><% link_to 'Show', submission_review %></td>
        <td><% link_to 'Edit', edit_submission_review_path(submission_review) %></td>
        <td><% link_to 'Destroy', submission_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
